.question {
    &__title {
        @include font (700, 36px, $text-vanil);
        margin-top: 180px;
    }

    &__more {
        @include font (400, 13px, $text-darkwhite);
        width: 255px;
        height: 50px;
        text-align: center;
        display: flex;
    }

    &__info {
        @include font (400, 14px, $text-darkwhite);
        text-align: center;
    }

    &__test {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;

        &-item {

            width: 255px;
            height: 50px;
            background: #ffffff;
            opacity: 0.2;
        }
    }

    &__row {
        margin-top: 61px;
        flex-wrap: wrap;
    }
    &__view{
        @include font (700, 16px, $text-white);
        background: #D4C17F;
        width: 264px;
        height: 50px;
        cursor: pointer;
        text-align: center;
        border: none;
    }

}

@media screen and (max-width:1024px) {
    .questions {
        &__row {
            display: flex;
        }
        &__test
        {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            align-content: flex-end;
            justify-content: space-around;
            align-items: baseline;
        }
        &__view{
            margin: 0 auto;
        }
    }
}

@media screen and (max-width:768px) {
    .question {
        &__title{
            text-align: center;
        }
        &__test{
            justify-content: space-around;
            align-items: baseline;
        }
    }
}

@media screen and (max-width:425px) {
    .question{
        &__info {
            margin-top: 10px;
        }
        &__view{
            margin-top: 10px;
        }
    }
}